*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
.main-wrap{
    background: rgb(245, 214, 190);
    height: 100vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-wrap{
    height:520px;
    width:780px;
    padding: 3px;
    display: flex;
    margin: auto;
    background:rgb(250, 229, 229);
    border-radius: 20px;
}
.outer-wrap .img-wrap{
    height: 100%;
    width:40%;
    position: relative;
    border-radius: 20px;
    /* background:rgb(196, 82, 82); */
}
.outer-wrap .img-wrap img{
    width: 100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    position: absolute;
    height: 100%;
}
.outer-wrap .form-wrap{
    width: 60%;
    padding: 100px;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
    height: 100%;
    background: #fff;
    text-align: center;
}
.form-wrap p{
    padding-top: 15px;
    font-size: 13px;
    color: rgb(92, 91, 91);
}
.form input{
    height:36px;
    width:100%;
    border-radius: 30px;
    margin: 10px;
    padding-left: 20px;
    border: none;
    background: rgba(223, 221, 221, 0.822);
}
.form input:focus{
    border: none;
    background: rgba(190, 189, 189, 0.822);
    outline: none;
}
.form .btn{
    width:100%;
    height:36px;
    border-radius: 30px;
    margin: 10px;
    border: none;
    background: rgb(12, 105, 74);
    color: #fff;
    cursor: pointer;
}
.social-login{
    margin:13px;
}
.social-login a{
    text-decoration: none;
    width:20px;
    height:20px;
    padding: 6px;
    margin: 5px;
    border:1px solid rgb(240, 237, 237);
    background-color: rgb(251, 250, 250);
    border-radius: 10px;
}
.social-login a img{
    margin-top: 6px;
    width:16px;
    height:16px;
    margin-bottom: -3px;
}
.bottom-text p{
    color: rgb(63, 62, 62);
}
.bottom-text a{
    text-decoration: none;
    color: rgb(27, 27, 247);
}